*.log
*.tar

*.psd
*.bin
*.spm
*.zip
.env
*node_modules*
/packages
/models
/.bin
/dist
/.claude
/tests/ff
/tests/MTranCore

*.o
src/generated/
src/assets/ui.ts
src/assets/swagger.ts
*.tgz
/release
/.codebuddy/
ui/package-lock.json
